
 .image{
    width: 200px;
    height:20vh;
 }   


.car{
    color:cadetblue;
    font-family: 'Courier New', Courier, monospace;
}
.bike{
    color:palevioletred;
    font-family: 'Times New Roman', Times, serif;
}
.model{
    color:chocolate;
}
.model1{
    color:cadetblue;
}
